
a {
    text-decoration: none;
    color: white;
}

a:hover, a :active {
    color: lightgray;
}

.navigation-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
}

mat-toolbar {
    border-radius: 3px;
}

@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}

/*@media(max-width: 1200px){
    mat-toolbar{
        border-radius: 0px;
    }
}*/

mat-toolbar {
    overflow: hidden;
      width: 100%;
      min-width: 475px;
      padding: 10px 20px 10px 10px;
      font-size: 20px;
      position: relative;
      color: #FFF;      
      z-index: 1;
  }
  
  mat-toolbar:after {
    color: Black;
    /*box-shadow: 5px 10px #888888;*/
    box-shadow: 5px 10px #666666;
    content: "";
    
    text-decoration: none;    
    position: absolute;
    display: block;
    width: 60%;
    min-width: 200px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 2;
    /*background: #333;*/
    background: #011f05;
    transform-origin: bottom left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(-30deg, 0deg);
    padding-left: 10px;    
  }