<section>    

    <mat-card>
        <mat-card-title>Add Stock Up to Inventory</mat-card-title>
        <mat-card-content>
            <div class="example-header" fxLayout="row">
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
            </div>
            <div class="example-container mat-elevation-z8">
                <mat-table [dataSource]="dataSource" matSort >
                    <ng-container matColumnDef="StockName">
                      <mat-header-cell *matHeaderCellDef> Product Name </mat-header-cell>
                      <mat-cell *matCellDef="let element" data-label="product name"> {{element.CompanyStockTag.Stockname}} </mat-cell>
                    </ng-container>
            
                    <ng-container matColumnDef="SupplierName">
                        <mat-header-cell *matHeaderCellDef> Supplier Name </mat-header-cell>>
                        <mat-cell *matCellDef="let element" data-label="supplier name"> {{element.Supplier.CompanyName}} </mat-cell>
                    </ng-container>
            
                    <ng-container matColumnDef="SupliedPrice">
                        <mat-header-cell *matHeaderCellDef> Supplied Price </mat-header-cell>>
                        <mat-cell *matCellDef="let element" data-label="supplied price"> {{element.SuppliedPrice | number: '1.2-2'}} </mat-cell>
                    </ng-container>
            
                    <ng-container matColumnDef="UnitPrice">
                        <mat-header-cell *matHeaderCellDef> Unit Price </mat-header-cell>>
                        <mat-cell *matCellDef="let element" data-label="unit price"> {{element.UnitPrice | number: '1.2-2'}} </mat-cell>
                    </ng-container>                   
            
                    <ng-container matColumnDef="QuantitySupplied">
                        <mat-header-cell *matHeaderCellDef> Quantity Supplied </mat-header-cell>
                        <mat-cell *matCellDef="let element" data-label="quantity supplied"> {{element.QuantitySupplied}} </mat-cell>
                    </ng-container>
            
                    <ng-container matColumnDef="DateSupplied">
                        <mat-header-cell *matHeaderCellDef> Date Supplied </mat-header-cell>
                        <mat-cell *matCellDef="let element" data-label="date supplied"> {{element.DateSupplied | date}} </mat-cell>
                    </ng-container>
            
                    <ng-container matColumnDef="PackUnit"> 
                        <mat-header-cell *matHeaderCellDef> Pack Unit </mat-header-cell>
                        <mat-cell *matCellDef="let element" data-label="unit pack"> {{element.PackUnit}} </mat-cell>
                    </ng-container>
            
                    <ng-container matColumnDef="BatchNo">
                        <mat-header-cell *matHeaderCellDef> BatchNo </mat-header-cell>
                        <mat-cell *matCellDef="let element" data-label="batch no"> {{element.BatchNo}} </mat-cell>
                    </ng-container>                        
                   
                    <ng-container matColumnDef="addInventory">
                      <mat-header-cell *matHeaderCellDef> Add Stock </mat-header-cell>
                      <mat-cell *matCellDef="let element" data-label="add to inventory">
                        <button mat-icon-button color="primary" (click)="prepToAddStock(element)">
                            <mat-icon class="mat-18">add_shopping_cart</mat-icon>
                        </button>
                      </mat-cell>
                    </ng-container>                  
                    
                   
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  </mat-table>
                  <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [length]="totalSize"
                      [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
                  </mat-paginator>
                </div>
            
        </mat-card-content>      
    </mat-card>     
    
</section>
