<!--The content below is only a placeholder and can be replaced.-->
<mat-chip-list>
    
    <!-- <mat-chip routerLink="/payslip/payslip/order" *ngIf="TakeOrder">Take Order</mat-chip>
    <mat-chip routerLink="/payslip/payslip/approve" *ngIf="ApproveOrder">Approve Order</mat-chip>
    <mat-chip routerLink="/payslip/payslip/realstock" *ngIf="RealStock">Real Stock</mat-chip>
    <mat-chip routerLink="/payslip/payslip/checkout" *ngIf="CheckOut">Check Out</mat-chip> -->
    
    <mat-chip routerLink="/payslip/payslip/admin" *ngIf="admin">Staff Search</mat-chip>
    <mat-chip routerLink="/payslip/payslip/upload" *ngIf="upload">Upload Payslip</mat-chip>
    <mat-chip routerLink="/payslip/payslip/available" *ngIf="available">Available Payslip</mat-chip>
    <mat-chip routerLink="/payslip/payslip/staff" *ngIf="upload">Upload Staff</mat-chip>
    <mat-chip routerLink="/payslip/payslip/category" *ngIf="upload">Define Category</mat-chip>
    <!-- <mat-chip routerLink="/payslip/payslip/gifmis" *ngIf="gifmis">Gifmis</mat-chip> -->
    <mat-chip routerLink="/payslip/payslip/ippis" *ngIf="ippis">Payslip Request</mat-chip>
    <mat-chip routerLink="/payslip/payslip/others" *ngIf="others">Others</mat-chip>
    <mat-chip color = "accent" selected (click)="onLogout()"><mat-icon>gps_fixed</mat-icon>Logout</mat-chip>
    
</mat-chip-list>
<main>
    <router-outlet></router-outlet>
</main>

