<section>    
        <mat-progress-bar  mode="query" *ngIf="progressService.visibility | async"
        ></mat-progress-bar>
    <mat-card>
        <mat-card-title>Inventory List</mat-card-title>
        <mat-card-content>
            <div class="example-header" fxLayout="row">
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
            </div>
            <div class="example-container mat-elevation-z8">
                <mat-table [dataSource]="dataSource" matSort >
                    <ng-container matColumnDef="StockName">
                      <mat-header-cell *matHeaderCellDef> Product Name </mat-header-cell>
                      <mat-cell *matCellDef="let element" data-label="product name"> {{element.CompanyStockTag.Stockname}} </mat-cell>
                    </ng-container>
            
                    <ng-container matColumnDef="Quantity">
                        <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>>
                        <mat-cell *matCellDef="let element" data-label="Quantity"> {{element.Quantity}} </mat-cell>
                    </ng-container>
            
                    <ng-container matColumnDef="ReorderLevel">
                        <mat-header-cell *matHeaderCellDef> Reorder Level </mat-header-cell>>
                        <mat-cell *matCellDef="let element" data-label="Reorder Level"> {{element.ReorderLevel}} </mat-cell>
                    </ng-container>
            
                    <ng-container matColumnDef="PackUnit">
                        <mat-header-cell *matHeaderCellDef> Pack Unit </mat-header-cell>>
                        <mat-cell *matCellDef="let element" data-label="Pack Unit"> {{element.PackUnit}} </mat-cell>
                    </ng-container>                   
            
                    <ng-container matColumnDef="CompanyUnitPrice">
                        <mat-header-cell *matHeaderCellDef> Unit Price </mat-header-cell>
                        <mat-cell *matCellDef="let element" data-label="Unit Price"> {{element.CompanyUnitPrice}} </mat-cell>
                    </ng-container>
            
                    <ng-container matColumnDef="SupplierUnitPrice">
                        <mat-header-cell *matHeaderCellDef> Supplier Unit Price </mat-header-cell>
                        <mat-cell *matCellDef="let element" data-label="Supplier Unit Price"> {{element.SupplierUnitPrice}} </mat-cell>
                    </ng-container>
            
                    <ng-container matColumnDef="Status"> 
                        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                        <mat-cell *matCellDef="let element" data-label="Status"> {{element.Status}} </mat-cell>
                    </ng-container>                                            
                   
                    <ng-container matColumnDef="view">
                      <mat-header-cell *matHeaderCellDef> view </mat-header-cell>
                      <mat-cell *matCellDef="let element" data-label="view">
                        <button mat-icon-button color="primary" (click)="viewStock(element)">
                            <mat-icon class="mat-18">add_shopping_cart</mat-icon>
                        </button>
                      </mat-cell>
                    </ng-container>                  
                    
                   
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  </mat-table>
                  <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [length]="totalSize"
                      [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
                  </mat-paginator>
                </div>
            
        </mat-card-content>      
    </mat-card>     
    
</section>
