<section fxLayout="column" fxLayoutAlign="center center">
    <h1 mat-dialog-title>Stock Details</h1>
    <mat-dialog-content>
        <!-- <P>{{data.message}}</P> -->
        <div fxLayout="column wrap" fxLayoutGap="40px">
            <div fxLayout="row wrap" fxFlex>
                <div fxFlex><strong>Stock name:</strong></div>
                <div fxFlex>{{data.Stockname}}</div>
            </div>
        
            <div fxLayout="row wrap" fxFlex>
                <div fxFlex><strong>Company Name:</strong></div>
                <div fxFlex>{{data.CompanyName}}</div>
            </div>
        
            <div fxLayout="row wrap" fxFlex>
                <div fxFlex><strong>Supplier Product Name:</strong></div>
                <div fxFlex class="beginner-color">{{data.SupplierProductName}}</div>
            </div>
            
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <!-- <button mat-raised-button color="primary" [mat-dialog-close]="true">OK</button> -->
        <button mat-raised-button color="primary" (click)="closeDialog()">OK</button>
    </mat-dialog-actions>
</section>

