<section fxLayout="row wrap" fxLayoutAlign="left" fxLayoutGap="15px">
    <mat-progress-bar  mode="query" *ngIf="progressService.visibility | async"></mat-progress-bar>
    <mat-card fxFlex="60%" fxFlex.xs="100%">
        <mat-card-title>Transactional Product List</mat-card-title>
        <mat-card-content >
            
            
                <!-- <mat-card-title>Orders</mat-card-title> -->
                <mat-form-field class="search-form">
                    <input matInput placeholder="Search Product" type="text">
                </mat-form-field>
                    <button button="submit" mat-raised-button><mat-icon>search</mat-icon></button>
                    <br>
                        
                    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center">
                        <mat-card fxFlex="20%" fxFlex.xs="100%" *ngFor="let current of currentStock" class="card-picture">
                            <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
                                <span fxFlex="70%">{{current.CompanyStockTag.Stockname}}</span>
                                <button mat-icon-button color="primary" (click)="addToCart(current)" fxFlex="10%">
                                <mat-icon >add_shopping_cart</mat-icon></button>            
                            </mat-card-title>
                            <span>Stock Level : {{current.Quantity}}</span>
                        </mat-card>
                    </div>
            
        </mat-card-content>
    </mat-card>
    <mat-card fxFlex="37%" fxFlex.xs="100%">
        <mat-card-title>Cart Items</mat-card-title>
            <mat-card-content>
                    <div class="example-container mat-elevation-z8">
                            <mat-table [dataSource]="dataSource" matSort >
                                <ng-container matColumnDef="Product">
                                  <mat-header-cell *matHeaderCellDef> Product</mat-header-cell>
                                  <mat-cell *matCellDef="let element" data-label="product"> {{element.CompanyStockTag.Stockname}} </mat-cell>
                                </ng-container>
                        
                                <ng-container matColumnDef="Quantity">
                                    <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
                                    <mat-cell *matCellDef="let element" data-label="Quantity"> {{element.Quantity}} </mat-cell>
                                </ng-container>
                        
                                <ng-container matColumnDef="SalesUnitPrice">
                                    <mat-header-cell *matHeaderCellDef> Unit Price </mat-header-cell>
                                    <mat-cell *matCellDef="let element" data-label="Price"> {{element.SalesUnitPrice}} </mat-cell>
                                </ng-container>
                        
                                <ng-container matColumnDef="SalesTotalAmount">
                                    <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
                                    <mat-cell *matCellDef="let element" data-label="total"> {{element.SalesTotalAmount}} </mat-cell>
                                </ng-container> 
                                
                                <ng-container matColumnDef="action">
                                    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                                        <mat-cell *matCellDef="let element"  data-label="Action" class="action-link"> 
                                            <button mat-icon-button color="primary" (click)="openDialog('Update', element)">
                                                <mat-icon>playlist_add</mat-icon>
                                            </button> | 
                                            <button mat-icon-button color="warn" (click)="openDialog('Delete', element)">
                                                <mat-icon>delete_forever</mat-icon>
                                            </button> 
                                        </mat-cell>
                                </ng-container>
                        
                                                                            
                               
                                <!--<ng-container matColumnDef="view">
                                  <mat-header-cell *matHeaderCellDef> view </mat-header-cell>
                                  <mat-cell *matCellDef="let element" data-label="view">
                                    <button mat-icon-button color="primary" (click)="viewStock(element)">
                                        <mat-icon class="mat-18">add_shopping_cart</mat-icon>
                                    </button>
                                  </mat-cell>
                                </ng-container> -->              
                                
                               
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                              </mat-table>
                              <!-- <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [length]="totalSize"
                                  [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
                              </mat-paginator> -->
                            </div>
            </mat-card-content>      
    </mat-card>
</section>
<section fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="15px"
            style="margin-top:2%">
            <form [formGroup]="salesForm" autocomplete="off" novalidate (ngSubmit)="addSalesOrder(salesForm.value)"
            fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2px">
                <mat-card-content>
            
                    <mat-form-field>                                                
                        <mat-select placeholder="Choose Customer" formControlName="CustomerId" [(ngModel)]="CustomerId">                      
                        <mat-option *ngFor="let cus of allCustomer" [value]="cus.id">{{cus.Storename}}</mat-option>
                        </mat-select>
                    </mat-form-field>                    
                                                                   
                    <mat-form-field>
                        <input matInput type="number" placeholder="Total Amount"  formControlName="TotalOrderAmount" 
                        disabled  [(ngModel)]="TotalOrderAmount">
                    </mat-form-field>
                    
                    <mat-form-field>                                                
                        <mat-select placeholder="Payment Type" formControlName="PaymentType" [(ngModel)]="PaymentType">                      
                        <mat-option *ngFor="let pay of paymentType" [value]="pay.Description">{{pay.Description}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                   
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" [disabled]="!salesForm.valid">Make New Order</button>
                </mat-card-actions>
            </form>
</section>