<section fxLayout="row wrap" fxLayoutAlign="left" fxLayoutGap="15px">
    <mat-progress-bar  mode="query" *ngIf="progressService.visibility | async"></mat-progress-bar>
    <mat-card fxFlex="100%" fxFlex.xs="100%">
            <mat-card-title>Add Customers -  Enter and list all Customers</mat-card-title>
            <mat-card-content>
                <mat-tab-group [(selectedIndex)]="selected">
                    <mat-tab label="Enter Customer Information"> 
                            <mat-card fxFlex="300px" fxFlex.xs="100%">
                                    <mat-card-title>Enter Customer Information</mat-card-title>
                                    <form [formGroup]="customerForm" autocomplete="off" novalidate 
                                        (ngSubmit)="addCustomer(customerForm.value)" fxLayout="column wrap" fxLayoutAlign="center center"
                                        fxLayoutGap="10px">
                                        <mat-card-content>
                                            <mat-form-field>
                                                <input matInput type="text" placeholder="Store Name" 
                                                formControlName="Storename" id="storename">
                                                <mat-error *ngIf="hasError('Storename', 'required')">
                                                    Store Name is required
                                                </mat-error>
                                            </mat-form-field>
                            
                                            <mat-form-field>
                                                <input matInput type="text" placeholder="Zone" 
                                                formControlName="Zone" id="zone">
                                            </mat-form-field>
                            
                                            <mat-form-field>
                                                <input matInput type="text" placeholder="Market Place" 
                                                formControlName="MarketPlace" id="marketPlace">                                                
                                            </mat-form-field>
                            
                                            <mat-form-field>
                                                <input matInput type="text" placeholder="Surname" 
                                                formControlName="Surname" id="surname">                                               
                                            </mat-form-field>

                                            <mat-form-field>
                                                <input matInput type="text" placeholder="Firstname" 
                                                formControlName="Firstname" id="firstname">                                               
                                            </mat-form-field>

                                            <mat-form-field>
                                                <input matInput type="text" placeholder="Othernames" 
                                                formControlName="Othernames" id="othernames">                                               
                                            </mat-form-field>

                                            <mat-form-field>                                                
                                                <mat-select placeholder="Choose Gender" formControlName="GenderId" [(ngModel)]="GenderId">                      
                                                <mat-option *ngFor="let gen of gender" [value]="gen.id">{{gen.Description}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>

                                            <mat-form-field>
                                                <input matInput type="text" placeholder="Phone Number" 
                                                formControlName="PhoneNo" id="PhoneNo">                                               
                                            </mat-form-field>

                                            <mat-form-field>
                                                <input matInput type="text" placeholder="Customer Email" 
                                                formControlName="CustomerEmail" id="customerEmail">                                                                   
                                            </mat-form-field>

                                            <mat-form-field>
                                                <input matInput type="text" placeholder="Remark" 
                                                formControlName="Remark" id="Remark">                                               
                                            </mat-form-field>                                           
                            
                                            <mat-form-field>
                                                <mat-label>Country</mat-label>
                                                <mat-select placeholder="Choose Country" formControlName="CountryId" [(ngModel)]="CountryId"
                                                (selectionChange)="fillState(CountryId)">                      
                                                <mat-option *ngFor="let count of countries" [value]="count.id">{{count.Description}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                            
                                            <mat-form-field>
                                                <mat-label>State</mat-label>
                                                <mat-select placeholder="Choose State" formControlName="StateId" [(ngModel)]="StateId">                      
                                                <mat-option *ngFor="let stat of states" [value]="stat.id">{{stat.Description}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>                                           
                            
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <button mat-raised-button color="primary" *ngIf="customerSaveButton" [disabled]="!customerForm.valid">Add Customer</button>
                                        </mat-card-actions>
                                    </form>
                                    <button mat-raised-button color="primary" *ngIf="customerUpdateButton" (click)="updateCustomer()" >Update Customer</button>&nbsp;
                                    <button mat-raised-button color="primary" *ngIf="resetButton" (click)="reset()"><mat-icon>verified_user</mat-icon></button>        
                                </mat-card> 
                    </mat-tab>
                    <mat-tab label="Customer List">
                            <mat-card fxFlex="100%" fxFlex.xs="100%">
                                    <mat-card-title>Customer List</mat-card-title>
                                    <mat-card-content>
                                        <div fxLayout fxLayoutAlign="center center">
                                            <mat-form-field fxFlex="40%">
                                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                                            </mat-form-field>
                                        </div>
                                        <mat-table [dataSource]="dataSource" matSort>
                                                <ng-container matColumnDef="Storename">
                                                <mat-header-cell *matHeaderCellDef> Store Name </mat-header-cell>
                                                <mat-cell *matCellDef="let element"> {{element.Storename}} </mat-cell>
                                                </ng-container>
                                        
                                                <ng-container matColumnDef="Zone">
                                                    <mat-header-cell *matHeaderCellDef> Zone </mat-header-cell>
                                                    <mat-cell *matCellDef="let element"> {{element.Zone}} </mat-cell>
                                                </ng-container>
                                        
                                                <ng-container matColumnDef="MarketPlace">
                                                    <mat-header-cell *matHeaderCellDef> Market Place </mat-header-cell>
                                                    <mat-cell *matCellDef="let element"> {{element.MarketPlace}} </mat-cell>
                                                </ng-container>
                                        
                                                <ng-container matColumnDef="Surname">
                                                    <mat-header-cell *matHeaderCellDef> Surname </mat-header-cell>
                                                    <mat-cell *matCellDef="let element"> {{element.Surname}} </mat-cell>
                                                </ng-container>
                                        
                                                <ng-container matColumnDef="Firstname"> 
                                                    <mat-header-cell *matHeaderCellDef> Firstname </mat-header-cell>
                                                    <mat-cell *matCellDef="let element"> {{element.Firstname}} </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="PhoneNo"> 
                                                    <mat-header-cell *matHeaderCellDef> PhoneNo </mat-header-cell>
                                                    <mat-cell *matCellDef="let element"> {{element.PhoneNo}} </mat-cell>
                                                </ng-container>                                    
                                            
                                                <ng-container matColumnDef="update">
                                                        <mat-header-cell *matHeaderCellDef> Update </mat-header-cell>
                                                        <mat-cell *matCellDef="let element" data-label="Update">
                                                        <button mat-icon-button color="accent" (click)="redirectToUpdate(element)">
                                                            <mat-icon class="mat-18">system_update</mat-icon>
                                                        </button>
                                                        </mat-cell>
                                                    </ng-container>
                                            
                                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                                            </mat-table>
                                            <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [length]="totalSize"
                                                [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
                                            </mat-paginator>
                                        
                                    </mat-card-content>      
                                </mat-card>
                        </mat-tab>
                    <mat-tab label="">
                        <p></p>
                        </mat-tab>
                </mat-tab-group>
        </mat-card-content>
    </mat-card>         
    <mat-progress-bar  mode="query" *ngIf="progressService.visibility | async"></mat-progress-bar> 
</section>
