<section fxLayout="column" fxFlexAlign="stretch">
    <div fxFlexAlign="center">
        <p>IPPIS PLATFORM</p>
    </div>    

    <!--<mat-tab-group (selectedTabChange)="executeSelectedChange($event)">
        <mat-tab label="Distribution"> 
          <p>Distribution.</p> 
        </mat-tab>
        <mat-tab label="Marketing">
           <p>Marketing.</p>
          </mat-tab>
        <mat-tab label="Excellent Service">
           <p>Excellent Service.</p>
          </mat-tab>
      </mat-tab-group> -->


      <mat-card fxFlex="100%" fxFlex.xs="100%">
          <mat-progress-bar  mode="query" *ngIf="progressService.visibility | async"></mat-progress-bar>
        <mat-card-title>Click for month of interest</mat-card-title>
        <mat-card-content>
          <button style="margin: 2px;" mat-raised-button color="primary" (click)="july()" disabled >July</button>
          <button style="margin: 2px;" mat-raised-button color="primary" (click)="august()" disabled >August</button>
          <button style="margin: 2px;" mat-raised-button color="primary" (click)="september()" disabled >September</button>
          <button style="margin: 2px;" mat-raised-button color="primary" (click)="october()" disabled >October</button>
          <button style="margin: 2px;" mat-raised-button color="primary" (click)="nov2019()" [disabled] = "Nov2019Disabled">November 2019</button>
          <button style="margin: 2px;" mat-raised-button color="primary" (click)="dec2019()" [disabled] = "Dec2019Disabled">December 2019</button>
          <button style="margin: 2px;" mat-raised-button color="primary" (click)="jan2020()" [disabled]  = "Jan2020Disabled">January 2020</button> 
          <button style="margin: 2px;" mat-raised-button color="primary" (click)="feb2020()" [disabled]  = "Feb2020Disabled">Febuary 2020</button>        
        </mat-card-content>      
    </mat-card>
</section>