<section>
    
    <mat-card>
            <mat-progress-bar  mode="query" *ngIf="progressService.visibility | async"></mat-progress-bar>
            <!-- <mat-card-title>Result</mat-card-title> -->
        <mat-card-content>


      
                                        
        <mat-card fxFlex="100%" fxFlex.xs="100%"> 
            <mat-card-title>Uploaded payslip</mat-card-title>
        <mat-card-content>
            <div class="example-header" fxLayout="row">
                <mat-form-field style="width: 50%">
                    <input matInput (keyup)="applyFilter($event.target.value)" 
                    placeholder="type any description to filter by month, year and others">
                </mat-form-field>
            </div>
            <div class="example-container mat-elevation-z8">
                <mat-table [dataSource]="dataSource" matSort >
                    <ng-container matColumnDef="Category">
                        <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
                        <mat-cell *matCellDef="let element" data-label="Category"> {{element.Category.Description}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="SubCategory">
                        <mat-header-cell *matHeaderCellDef> SubCategory </mat-header-cell>
                        <mat-cell *matCellDef="let element" data-label="SubCategory"> {{element.SubCategory.Description}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="PayslipYear">
                      <mat-header-cell *matHeaderCellDef> Year </mat-header-cell>
                      <mat-cell *matCellDef="let element" data-label="Year"> {{element.PayslipYear}} </mat-cell>
                    </ng-container>
            
                    <ng-container matColumnDef="PayslipMonth">
                        <mat-header-cell *matHeaderCellDef> Month </mat-header-cell>>
                        <mat-cell *matCellDef="let element" data-label="Month"> {{element.PayslipMonth}} </mat-cell>
                    </ng-container>                        
                    
                   
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  </mat-table>
                  <!-- <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [length]="totalSize"
                      [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
                  </mat-paginator>-->
                  <mat-paginator
                    #paginator="matPaginator"
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 25, 100]"
                    ></mat-paginator>
                </div>
            
        </mat-card-content>

    </mat-card>
    </mat-card-content>
</mat-card>
</section>