<!--The content below is only a placeholder and can be replaced.-->
<mat-chip-list>
    <!-- <mat-chip routerLink="/stock/stock/supplier">Sample</mat-chip> -->
    <mat-chip routerLink="/transaction/transaction/order">Take Order</mat-chip>
    <mat-chip routerLink="/transaction/transaction/approve">Approve Order</mat-chip>
    <mat-chip routerLink="/transaction/transaction/realstock">Real Stock</mat-chip>    
    <!--<mat-chip color = "primary" selected>Add Company Stock Tag</mat-chip>
    <mat-chip color = "accent" selected>View Stock Level</mat-chip> -->
</mat-chip-list>
<main>
    <router-outlet></router-outlet>
</main>

