<section fxLayout="column" fxFlexAlign="stretch">
    <div fxFlexAlign="center">
        <p>Welcome to Suitroh Nigeria Limited Portal</p>
    </div>    

    <mat-tab-group (selectedTabChange)="executeSelectedChange($event)">
        <mat-tab label="Distribution"> 
          <p>Distribution.</p> 
        </mat-tab>
        <mat-tab label="Marketing">
           <p>Marketing.</p>
          </mat-tab>
        <mat-tab label="Excellent Service">
           <p>Excellent Service.</p>
          </mat-tab>
      </mat-tab-group>
</section>
