<section fxLayout="row wrap" fxLayoutAlign="left" fxLayoutGap="15px">        
    <mat-progress-bar  mode="query" *ngIf="progressService.visibility | async"></mat-progress-bar>
         
    <mat-card fxFlex="100%" fxFlex.xs="100%">
            <mat-card-title>Company Stock Tag - Enter and list all Stock Tags</mat-card-title>
            <mat-card-content>

         <mat-tab-group [(selectedIndex)]="selected">
            <mat-tab label="Enter Company Stock Tag"> 
                    <mat-card fxFlex="300px" fxFlex.xs="100%">
                            <mat-card-title>Enter Company Stock Tag</mat-card-title>
                            <form [formGroup]="tagForm" autocomplete="off" novalidate 
                                (ngSubmit)="addTag(tagForm.value)" fxLayout="column wrap" fxLayoutAlign="center center"
                                fxLayoutGap="10px">
                                <mat-card-content>
                                    <mat-form-field>
                                        <input matInput type="text" placeholder="Stock Name" 
                                        formControlName="Stockname" id="stockname">
                                        <mat-error *ngIf="hasError('Stockname', 'required')">
                                            Stock Name is required
                                        </mat-error>
                                    </mat-form-field>
                    
                                    <mat-form-field>
                                        <input matInput type="text" placeholder="Company Price" 
                                        formControlName="CompanyPrice" id="companyprice">
                                        <mat-error *ngIf="hasError('CompanyPrice', 'required')">
                                            Company Price is required
                                        </mat-error>
                                        <mat-error *ngIf="hasError('CompanyPrice', 'pattern')">
                                            Company Price must be numeric
                                        </mat-error>
                                    </mat-form-field>
                    
                                    <mat-form-field>
                                        <input matInput type="text" placeholder="Comment" 
                                        formControlName="Comment" id="comment">
                                        <mat-error *ngIf="hasError('Comment', 'required')">
                                            Comment Title is required
                                        </mat-error>
                                        <mat-error *ngIf="hasError('Comment', 'maxLength')">
                                            Comment must not exceed 100 letters
                                        </mat-error>
                                    </mat-form-field>
                    
                                </mat-card-content>
                                <mat-card-actions>
                                    <button mat-raised-button color="primary" *ngIf="tagSaveButton" [disabled]="!tagForm.valid">Save Stock Tag</button>
                                </mat-card-actions>
                            </form> 
                                    <button mat-raised-button color="primary" *ngIf="tagUpdateButton" (click)="updateTag()" >Update Tag</button>&nbsp;
                                    <button mat-raised-button color="primary" *ngIf="resetButton" (click)="reset()"><mat-icon>verified_user</mat-icon></button>               
                        </mat-card> 
            </mat-tab>
            <mat-tab label="Company Stock Tag List">
                    <mat-card fxFlex="100%" fxFlex.xs="100%">
                            <mat-card-title>Company Stock Tag</mat-card-title>
                            <mat-card-content>
                                
                                <div fxLayout fxLayoutAlign="center center">
                                    <mat-form-field fxFlex="40%">
                                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                                    </mat-form-field>
                                </div>
                                <button mat-raised-button color="primary" (click)="getCompanyTag()">Refresh</button>&nbsp;
                                <mat-table [dataSource]="dataSource" matSort>
                                        <ng-container matColumnDef="Stockname">
                                          <mat-header-cell *matHeaderCellDef> Stock Name </mat-header-cell>>
                                          <mat-cell *matCellDef="let element"  data-label="Stock Name"> {{element.Stockname}} </mat-cell>>
                                        </ng-container>
                                
                                        <ng-container matColumnDef="CompanyPrice">
                                            <mat-header-cell *matHeaderCellDef> Company Price </mat-header-cell>>
                                            <mat-cell *matCellDef="let element" data-label="Company Price"> {{element.CompanyPrice | number: '1.2-2'}} </mat-cell>>
                                        </ng-container>
                                
                                        <ng-container matColumnDef="Comment">
                                            <mat-header-cell *matHeaderCellDef> Comment </mat-header-cell>>
                                            <mat-cell *matCellDef="let element" data-label="Comment"> {{element.Comment}} </mat-cell>>
                                        </ng-container>
                                
                                             
                                       
                                        <ng-container matColumnDef="update">
                                                <mat-header-cell *matHeaderCellDef> Update </mat-header-cell>
                                                <mat-cell *matCellDef="let element" data-label="Update">
                                                <button mat-icon-button color="accent" (click)="redirectToUpdate(element)">
                                                    <mat-icon class="mat-18">system_update</mat-icon>
                                                </button>
                                                </mat-cell>
                                            </ng-container>
                                       
                                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>>
                                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>>
                                      </mat-table>
                                      <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [length]="totalSize"
                                          [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
                                      </mat-paginator>
                                
                            </mat-card-content>      
                        </mat-card> 
                </mat-tab>            
        </mat-tab-group>
    </mat-card-content>
</mat-card>
<mat-progress-bar  mode="query" *ngIf="progressService.visibility | async"></mat-progress-bar>      
</section>
