<!--The content below is only a placeholder and can be replaced.-->
<mat-chip-list>
    <!-- <mat-chip routerLink="/stock/stock/supplier">Sample</mat-chip> -->
    <mat-chip routerLink="/register/register/agent" *ngIf="AddAgent">Add Agent</mat-chip>
    <mat-chip routerLink="/register/register/customer" *ngIf="AddCustomer">Add Customer</mat-chip>  
    <mat-chip routerLink="/register/register/user" *ngIf="AddUser">User</mat-chip>  
    <!--<mat-chip color = "primary" selected>Add Company Stock Tag</mat-chip>
    <mat-chip color = "accent" selected>View Stock Level</mat-chip> -->
</mat-chip-list>
<main>
    <router-outlet></router-outlet>
</main>

